h1 {
    text-align: center;
}

h2 { 
    text-align: center;
    color: darkblue;

}
table{
    border: 2px solid darkblue;
    width: 650px;
    margin: 0 auto;
}

thead {
    display: table-header-group;
    vertical-align: middle;
    background-color: lightblue;
}

tr {
    display: table-row;
    vertical-align: auto;

}

th {
    font-weight: bold;
}

td{
    border: 1px solid blue;
    text-align: center;
}

.code{
    font-family: monospace;
}


tbody{
    display: table-row-group;
    vertical-align: middle;
}

.git{
    padding-top: 50px;

}

.git h1{
    text-align: center;
}


.git h2{
    color: black;
    font-size: 20px;
}

.git td{
    text-align: left;
    
}

.cmdWay{
    text-align: left;
    padding-left: 307px;
    margin-bottom: 5px;
}

